<!-- ======== sidebar-nav start =========== -->
<aside class="sidebar-nav-wrapper">

    <div class="navbar-logo">
        <a href="/dashboard">
            <img src="/assets/images/logo/logo.svg" alt="Logo">
        </a>
    </div>

    <nav class="sidebar-nav">

        <ul class="list-unstyled px-2">

            <!-- Dashboard -->
            <li class="mb-2">
                <a href="/dashboard" class="sidebar-link active">
                    <i class="lni lni-dashboard"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <!-- Section Title -->
            <li class="sidebar-title">
                Blogs
            </li>

            <!-- Add Blog -->
            <li class="mb-2">
                <a href="/blogs/add" class="sidebar-link sub-link">
                    <i class="lni lni-circle-plus"></i>
                    <span>Add Blog</span>
                </a>
            </li>

            <!-- View Blog -->
            <li class="mb-2">
                <a href="/blogs/view-Blogs" class="sidebar-link sub-link">
                    <i class="lni lni-eye"></i>
                    <span>View Blogs</span>
                </a>
            </li>

        </ul>

    </nav>

</aside>

<div class="overlay"></div>
<!-- ======== sidebar-nav end =========== -->